<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>warning.png</key>
	<dict>
		<key>title</key>
		<string>warning.png</string>
		<key>tag</key>
		<string>warn, warning, </string>
	</dict>
	<key>arrow_left.png</key>
	<dict>
		<key>title</key>
		<string>arrow_left.png</string>
		<key>tag</key>
		<string>arrow, left, </string>
	</dict>
	<key>arrow_right.png</key>
	<dict>
		<key>title</key>
		<string>arrow_right.png</string>
		<key>tag</key>
		<string>arrow, right, </string>
	</dict>
	<key>ArrowDown-128.png</key>
	<dict>
	  <key>title</key>
	  <string>ArrowDown-128.png</string>
	  <key>tag</key>
	  <string>ArrowDown,</string>
	</dict>
	<key>ArrowLeft-128.png</key>
	<dict>
	  <key>title</key>
	  <string>ArrowLeft-128.png</string>
	  <key>tag</key>
	  <string>ArrowLeft,</string>
	</dict>
	<key>ArrowRight-128.png</key>
	<dict>
	  <key>title</key>
	  <string>ArrowRight-128.png</string>
	  <key>tag</key>
	  <string>Arrow, Right,</string>
	</dict>
	<key>ArrowRightDouble-128.png</key>
	<dict>
	  <key>title</key>
	  <string>ArrowRightDouble-128.png</string>
	  <key>tag</key>
	  <string>ArrowRightDouble,</string>
	</dict>
	<key>Calendar_1.png</key>
	<dict>
	  <key>title</key>
	  <string>Calendar_1.png</string>
	  <key>tag</key>
	  <string>Calendar,</string>
	</dict>
	<key>Camera-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Camera-128.png</string>
	  <key>tag</key>
	  <string>Camera,</string>
	</dict>
	<key>Check_Mark.png</key>
	<dict>
	  <key>title</key>
	  <string>Check_Mark.png</string>
	  <key>tag</key>
	  <string>Check,Mark</string>
	</dict>
	<key>CircledBorderArrowDown-128.png</key>
	<dict>
	  <key>title</key>
	  <string>CircledBorderArrowDown-128.png</string>
	  <key>tag</key>
	  <string>CircledBorderArrowDown,</string>
	</dict>
	<key>CircledBorderTriangleRight-128.png</key>
	<dict>
	  <key>title</key>
	  <string>CircledBorderTriangleRight-128.png</string>
	  <key>tag</key>
	  <string>CircledBorderTriangleRight,</string>
	</dict>
	<key>CircledPlus-128.png</key>
	<dict>
	  <key>title</key>
	  <string>CircledPlus-128.png</string>
	  <key>tag</key>
	  <string>CircledPlus,</string>
	</dict>
	<key>CircledStop-128.png</key>
	<dict>
	  <key>title</key>
	  <string>CircledStop-128.png</string>
	  <key>tag</key>
	  <string>CircledStop,</string>
	</dict>
	<key>CircledUndo-128.png</key>
	<dict>
	  <key>title</key>
	  <string>CircledUndo-128.png</string>
	  <key>tag</key>
	  <string>CircledUndo,</string>
	</dict>
	<key>Cloud_Add-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Cloud_Add-128.png</string>
	  <key>tag</key>
	  <string>Cloud,Add,</string>
	</dict>
	<key>Cloud_Arrow_Up-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Cloud_Arrow_Up-128.png</string>
	  <key>tag</key>
	  <string>Cloud,Arrow,Up,128</string>
	</dict>
	<key>Cloud_Download.png</key>
	<dict>
	  <key>title</key>
	  <string>Cloud_Download.png</string>
	  <key>tag</key>
	  <string>Cloud,Download</string>
	</dict>
	<key>Cloud_Upload.png</key>
	<dict>
	  <key>title</key>
	  <string>Cloud_Upload.png</string>
	  <key>tag</key>
	  <string>Cloud,Upload</string>
	</dict>
	<key>Coud_Arrow_Down-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Coud_Arrow_Down-128.png</string>
	  <key>tag</key>
	  <string>Coud,Arrow,Down,</string>
	</dict>
	<key>ExclamationMark-128.png</key>
	<dict>
	  <key>title</key>
	  <string>ExclamationMark-128.png</string>
	  <key>tag</key>
	  <string>ExclamationMark,</string>
	</dict>
	<key>FEZ-05-128.png</key>
	<dict>
	  <key>title</key>
	  <string>FEZ-05-128.png</string>
	  <key>tag</key>
	  <string>FEZ,</string>
	</dict>
	<key>Google_Play_3.png</key>
	<dict>
	  <key>title</key>
	  <string>Google_Play_3.png</string>
	  <key>tag</key>
	  <string>Google,Play,</string>
	</dict>
	<key>Gooogle_Play_2.png</key>
	<dict>
	  <key>title</key>
	  <string>Gooogle_Play_2.png</string>
	  <key>tag</key>
	  <string>Gooogle,Play,</string>
	</dict>
	<key>MB__photo.png</key>
	<dict>
	  <key>title</key>
	  <string>MB__photo.png</string>
	  <key>tag</key>
	  <string>MB,,photo</string>
	</dict>
	<key>MB__search.png</key>
	<dict>
	  <key>title</key>
	  <string>MB__search.png</string>
	  <key>tag</key>
	  <string>MB,,search</string>
	</dict>
	<key>MagnifyingGlass-128.png</key>
	<dict>
	  <key>title</key>
	  <string>MagnifyingGlass-128.png</string>
	  <key>tag</key>
	  <string>MagnifyingGlass,</string>
	</dict>
	<key>Magnifying_Glass.png</key>
	<dict>
	  <key>title</key>
	  <string>Magnifying_Glass.png</string>
	  <key>tag</key>
	  <string>Magnifying,Glass</string>
	</dict>
	<key>Mail-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Mail-128.png</string>
	  <key>tag</key>
	  <string>Mail,128</string>
	</dict>
	<key>Mail.png</key>
	<dict>
	  <key>title</key>
	  <string>Mail.png</string>
	  <key>tag</key>
	  <string>Mail</string>
	</dict>
	<key>MapMarker_Ball_Right_Azure.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_Ball_Right_Azure.png</string>
	  <key>tag</key>
	  <string>MapMarker,Ball,Right,Azure</string>
	</dict>
	<key>MapMarker_Ball_Right_Pink.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_Ball_Right_Pink.png</string>
	  <key>tag</key>
	  <string>MapMarker,Ball,Right,Pink</string>
	</dict>
	<key>MapMarker_Ball__Chartreuse.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_Ball__Chartreuse.png</string>
	  <key>tag</key>
	  <string>MapMarker,Ball,,Chartreuse</string>
	</dict>
	<key>MapMarker_Bubble_Chartreuse.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_Bubble_Chartreuse.png</string>
	  <key>tag</key>
	  <string>MapMarker,Bubble,Chartreuse</string>
	</dict>
	<key>MapMarker_DrawingPin_Left_Pink.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_DrawingPin_Left_Pink.png</string>
	  <key>tag</key>
	  <string>MapMarker,DrawingPin,Left,Pink</string>
	</dict>
	<key>MapMarker_DrawingPin_Right_Azure.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_DrawingPin_Right_Azure.png</string>
	  <key>tag</key>
	  <string>MapMarker,DrawingPin,Right,Azure</string>
	</dict>
	<key>MapMarker_DrawingPin_Right_Chartreuse.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_DrawingPin_Right_Chartreuse.png</string>
	  <key>tag</key>
	  <string>MapMarker,DrawingPin,Right,Chartreuse</string>
	</dict>
	<key>MapMarker_Marker_Inside_Azure.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_Marker_Inside_Azure.png</string>
	  <key>tag</key>
	  <string>MapMarker,Marker,Inside,Azure</string>
	</dict>
	<key>MapMarker_Marker_Inside_Chartreuse.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_Marker_Inside_Chartreuse.png</string>
	  <key>tag</key>
	  <string>MapMarker,Marker,Inside,Chartreuse</string>
	</dict>
	<key>MapMarker_Marker_Inside_Pink.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_Marker_Inside_Pink.png</string>
	  <key>tag</key>
	  <string>MapMarker,Marker,Inside,Pink</string>
	</dict>
	<key>MapMarker_Marker_Outside_Azure.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_Marker_Outside_Azure.png</string>
	  <key>tag</key>
	  <string>MapMarker,Marker,Outside,Azure</string>
	</dict>
	<key>MapMarker_Marker_Outside_Chartreuse.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_Marker_Outside_Chartreuse.png</string>
	  <key>tag</key>
	  <string>MapMarker,Marker,Outside,Chartreuse</string>
	</dict>
	<key>MapMarker_Marker_Outside_Pink.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_Marker_Outside_Pink.png</string>
	  <key>tag</key>
	  <string>MapMarker,Marker,Outside,Pink</string>
	</dict>
	<key>MapMarker_PushPin_Left_Azure.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_PushPin_Left_Azure.png</string>
	  <key>tag</key>
	  <string>MapMarker,PushPin,Left,Azure</string>
	</dict>
	<key>MapMarker_PushPin_Right_Azure.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_PushPin_Right_Azure.png</string>
	  <key>tag</key>
	  <string>MapMarker,PushPin,Right,Azure</string>
	</dict>
	<key>MapMarker_PushPin_Right_Chartreuse.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_PushPin_Right_Chartreuse.png</string>
	  <key>tag</key>
	  <string>MapMarker,PushPin,Right,Chartreuse</string>
	</dict>
	<key>MapMarker_PushPin_Right_Pink.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_PushPin_Right_Pink.png</string>
	  <key>tag</key>
	  <string>MapMarker,PushPin,Right,Pink</string>
	</dict>
	<key>MapMarker_PushPin__Azure.png</key>
	<dict>
	  <key>title</key>
	  <string>MapMarker_PushPin__Azure.png</string>
	  <key>tag</key>
	  <string>MapMarker,PushPin,Azure</string>
	</dict>
	<key>Music.png</key>
	<dict>
	  <key>title</key>
	  <string>Music.png</string>
	  <key>tag</key>
	  <string>Music</string>
	</dict>
	<key>Noun_Project_100Icon_10px_grid-06-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Noun_Project_100Icon_10px_grid-06-128.png</string>
	  <key>tag</key>
	  <string>Noun,Project,Icon,grid</string>
	</dict>
	<key>Pause-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Pause-128.png</string>
	  <key>tag</key>
	  <string>Pause,</string>
	</dict>
	<key>Photo-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Photo-128.png</string>
	  <key>tag</key>
	  <string>Photo,</string>
	</dict>
	<key>PixelKit_point_marker_icon.png</key>
	<dict>
	  <key>title</key>
	  <string>PixelKit_point_marker_icon.png</string>
	  <key>tag</key>
	  <string>PixelKit,point,marker,icon</string>
	</dict>
	<key>Play23-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Play23-128.png</string>
	  <key>tag</key>
	  <string>Play,</string>
	</dict>
	<key>QuestionMark-128.png</key>
	<dict>
	  <key>title</key>
	  <string>QuestionMark-128.png</string>
	  <key>tag</key>
	  <string>QuestionMark,</string>
	</dict>
	<key>Redo-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Redo-128.png</string>
	  <key>tag</key>
	  <string>Redo,</string>
	</dict>
	<key>Search-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Search-128.png</string>
	  <key>tag</key>
	  <string>Search,</string>
	</dict>
	<key>Search11-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Search11-128.png</string>
	  <key>tag</key>
	  <string>Search,</string>
	</dict>
	<key>Star.png</key>
	<dict>
	  <key>title</key>
	  <string>Star.png</string>
	  <key>tag</key>
	  <string>Star</string>
	</dict>
	<key>Stop24-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Stop24-128.png</string>
	  <key>tag</key>
	  <string>Stop,</string>
	</dict>
	<key>Streamline-05-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Streamline-05-128.png</string>
	  <key>tag</key>
	  <string>Streamline,</string>
	</dict>
	<key>Streamline-09-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Streamline-09-128.png</string>
	  <key>tag</key>
	  <string>Streamline,</string>
	</dict>
	<key>Streamline-12-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Streamline-12-128.png</string>
	  <key>tag</key>
	  <string>Streamline,</string>
	</dict>
	<key>Streamline-44-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Streamline-44-128.png</string>
	  <key>tag</key>
	  <string>Streamline,</string>
	</dict>
	<key>Streamline-46-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Streamline-46-128.png</string>
	  <key>tag</key>
	  <string>Streamline,</string>
	</dict>
	<key>Streamline-48-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Streamline-48-128.png</string>
	  <key>tag</key>
	  <string>Streamline,</string>
	</dict>
	<key>Streamline-58-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Streamline-58-128.png</string>
	  <key>tag</key>
	  <string>Streamline,</string>
	</dict>
	<key>Streamline-78-128.png</key>
	<dict>
	  <key>title</key>
	  <string>Streamline-78-128.png</string>
	  <key>tag</key>
	  <string>Streamline,</string>
	</dict>
	<key>Windows_phone.png</key>
	<dict>
	  <key>title</key>
	  <string>Windows_phone.png</string>
	  <key>tag</key>
	  <string>Windows,phone</string>
	</dict>
	<key>amazon_app_store_2.png</key>
	<dict>
	  <key>title</key>
	  <string>amazon_app_store_2.png</string>
	  <key>tag</key>
	  <string>amazon,app,store,</string>
	</dict>
	<key>appstore1.png</key>
	<dict>
	  <key>title</key>
	  <string>appstore1.png</string>
	  <key>tag</key>
	  <string>appstore</string>
	</dict>
	<key>appstore2.png</key>
	<dict>
	  <key>title</key>
	  <string>appstore2.png</string>
	  <key>tag</key>
	  <string>appstore</string>
	</dict>
	<key>appstore3.png</key>
	<dict>
	  <key>title</key>
	  <string>appstore3.png</string>
	  <key>tag</key>
	  <string>appstore</string>
	</dict>
	<key>arrow-alt-down.png</key>
	<dict>
	  <key>title</key>
	  <string>arrow-alt-down.png</string>
	  <key>tag</key>
	  <string>arrow,alt,down</string>
	</dict>
	<key>arrow-back-outline-128.png</key>
	<dict>
	  <key>title</key>
	  <string>arrow-back-outline-128.png</string>
	  <key>tag</key>
	  <string>arrow,back,outline,</string>
	</dict>
	<key>arrow-down.png</key>
	<dict>
	  <key>title</key>
	  <string>arrow-down.png</string>
	  <key>tag</key>
	  <string>arrow,down</string>
	</dict>
	<key>arrow-left-128.png</key>
	<dict>
	  <key>title</key>
	  <string>arrow-left-128.png</string>
	  <key>tag</key>
	  <string>arrow,left,</string>
	</dict>
	<key>arrow-right-outline-128.png</key>
	<dict>
	  <key>title</key>
	  <string>arrow-right-outline-128.png</string>
	  <key>tag</key>
	  <string>arrow,right,outline,</string>
	</dict>
	<key>arrow-right-thick-128.png</key>
	<dict>
	  <key>title</key>
	  <string>arrow-right-thick-128.png</string>
	  <key>tag</key>
	  <string>arrow,right,thick,</string>
	</dict>
	<key>arrow-right.png</key>
	<dict>
	  <key>title</key>
	  <string>arrow-right.png</string>
	  <key>tag</key>
	  <string>arrow,right</string>
	</dict>
	<key>arrow-small-right-128.png</key>
	<dict>
	  <key>title</key>
	  <string>arrow-small-right-128.png</string>
	  <key>tag</key>
	  <string>arrow,small,right,</string>
	</dict>
	<key>arrow-up.png</key>
	<dict>
	  <key>title</key>
	  <string>arrow-up.png</string>
	  <key>tag</key>
	  <string>arrow,up</string>
	</dict>
	<key>arrow54-128.png</key>
	<dict>
	  <key>title</key>
	  <string>arrow54-128.png</string>
	  <key>tag</key>
	  <string>arrow,</string>
	</dict>
	<key>arrow_full_lowerleft-128.png</key>
	<dict>
	  <key>title</key>
	  <string>arrow_full_lowerleft-128.png</string>
	  <key>tag</key>
	  <string>arrow,full,lowerleft,</string>
	</dict>
	<key>arrow_full_lowerright-128.png</key>
	<dict>
	  <key>title</key>
	  <string>arrow_full_lowerright-128.png</string>
	  <key>tag</key>
	  <string>arrow,full,lowerright,</string>
	</dict>
	<key>arrow_full_upperright-128.png</key>
	<dict>
	  <key>title</key>
	  <string>arrow_full_upperright-128.png</string>
	  <key>tag</key>
	  <string>arrow,full,upperright,</string>
	</dict>
	<key>back-alt-128.png</key>
	<dict>
	  <key>title</key>
	  <string>back-alt-128.png</string>
	  <key>tag</key>
	  <string>back,alt,</string>
	</dict>
	<key>basics-19-128.png</key>
	<dict>
	  <key>title</key>
	  <string>basics-19-128.png</string>
	  <key>tag</key>
	  <string>basics,</string>
	</dict>
	<key>circle_arrow-back_previous-128.png</key>
	<dict>
	  <key>title</key>
	  <string>circle_arrow-back_previous-128.png</string>
	  <key>tag</key>
	  <string>circle,arrow,back,previous,</string>
	</dict>
	<key>circle_arrow-down_download-128.png</key>
	<dict>
	  <key>title</key>
	  <string>circle_arrow-down_download-128.png</string>
	  <key>tag</key>
	  <string>circle,arrow,down,download,</string>
	</dict>
	<key>circle_arrow-forward_next-128.png</key>
	<dict>
	  <key>title</key>
	  <string>circle_arrow-forward_next-128.png</string>
	  <key>tag</key>
	  <string>circle,arrow,forward,next</string>
	</dict>
	<key>circle_arrow-forward_next_-128.png</key>
	<dict>
	  <key>title</key>
	  <string>circle_arrow-forward_next_-128.png</string>
	  <key>tag</key>
	  <string>circle,arrow,forward,next,</string>
	</dict>
	<key>circle_arrow-up-128.png</key>
	<dict>
	  <key>title</key>
	  <string>circle_arrow-up-128.png</string>
	  <key>tag</key>
	  <string>circle,arrow,up,</string>
	</dict>
	<key>circle_arrow-up_-128.png</key>
	<dict>
	  <key>title</key>
	  <string>circle_arrow-up_-128.png</string>
	  <key>tag</key>
	  <string>circle,arrow,up,</string>
	</dict>
	<key>circle_back_arrow-128.png</key>
	<dict>
	  <key>title</key>
	  <string>circle_back_arrow-128.png</string>
	  <key>tag</key>
	  <string>circle,back,arrow,</string>
	</dict>
	<key>circle_help_question-mark-128.png</key>
	<dict>
	  <key>title</key>
	  <string>circle_help_question-mark-128.png</string>
	  <key>tag</key>
	  <string>circle,help,question,mark,</string>
	</dict>
	<key>circle_info_more-information_detail-128.png</key>
	<dict>
	  <key>title</key>
	  <string>circle_info_more-information_detail-128.png</string>
	  <key>tag</key>
	  <string>circle,info,more,information,detail,</string>
	</dict>
	<key>circle_next_arrow_disclosure-128.png</key>
	<dict>
	  <key>title</key>
	  <string>circle_next_arrow_disclosure-128.png</string>
	  <key>tag</key>
	  <string>circle,next,arrow,disclosure,</string>
	</dict>
	<key>common_email_envelope_mail_-128.png</key>
	<dict>
	  <key>title</key>
	  <string>common_email_envelope_mail_-128.png</string>
	  <key>tag</key>
	  <string>common,email,envelope,mail,</string>
	</dict>
	<key>contact-128.png</key>
	<dict>
	  <key>title</key>
	  <string>contact-128.png</string>
	  <key>tag</key>
	  <string>contact,</string>
	</dict>
	<key>device_camera_capture_photo-128.png</key>
	<dict>
	  <key>title</key>
	  <string>device_camera_capture_photo-128.png</string>
	  <key>tag</key>
	  <string>device,camera,capture,photo,</string>
	</dict>
	<key>device_camera_capture_photo_-128.png</key>
	<dict>
	  <key>title</key>
	  <string>device_camera_capture_photo_-128.png</string>
	  <key>tag</key>
	  <string>device,camera,capture,photo,</string>
	</dict>
	<key>download-128.png</key>
	<dict>
	  <key>title</key>
	  <string>download-128.png</string>
	  <key>tag</key>
	  <string>download,</string>
	</dict>
	<key>download2-128.png</key>
	<dict>
	  <key>title</key>
	  <string>download2-128.png</string>
	  <key>tag</key>
	  <string>download,</string>
	</dict>
	<key>email-128.png</key>
	<dict>
	  <key>title</key>
	  <string>email-128.png</string>
	  <key>tag</key>
	  <string>email,</string>
	</dict>
	<key>envelope.png</key>
	<dict>
	  <key>title</key>
	  <string>envelope.png</string>
	  <key>tag</key>
	  <string>envelope, mail, email</string>
	</dict>
	<key>facebook06-128.png</key>
	<dict>
	  <key>title</key>
	  <string>facebook06-128.png</string>
	  <key>tag</key>
	  <string>facebook,</string>
	</dict>
	<key>facebook46-128.png</key>
	<dict>
	  <key>title</key>
	  <string>facebook46-128.png</string>
	  <key>tag</key>
	  <string>facebook,</string>
	</dict>
	<key>file_search.png</key>
	<dict>
	  <key>title</key>
	  <string>file_search.png</string>
	  <key>tag</key>
	  <string>file,search</string>
	</dict>
	<key>flat_icons-graficheria.it-02.png</key>
	<dict>
	  <key>title</key>
	  <string>flat_icons-graficheria.it-02.png</string>
	  <key>tag</key>
	  <string>flat,icons,</string>
	</dict>
	<key>forward-128.png</key>
	<dict>
	  <key>title</key>
	  <string>forward-128.png</string>
	  <key>tag</key>
	  <string>forward,</string>
	</dict>
	<key>gpsmapicons07.png</key>
	<dict>
	  <key>title</key>
	  <string>gpsmapicons07.png</string>
	  <key>tag</key>
	  <string>gpsmapicons</string>
	</dict>
	<key>help-128.png</key>
	<dict>
	  <key>title</key>
	  <string>help-128.png</string>
	  <key>tag</key>
	  <string>help,</string>
	</dict>
	<key>icon-9-mail-checked-128.png</key>
	<dict>
	  <key>title</key>
	  <string>icon-9-mail-checked-128.png</string>
	  <key>tag</key>
	  <string>icon,mail,checked,</string>
	</dict>
	<key>icon-arrow-left-c-128.png</key>
	<dict>
	  <key>title</key>
	  <string>icon-arrow-left-c-128.png</string>
	  <key>tag</key>
	  <string>icon,arrow,left,</string>
	</dict>
	<key>icon-arrow-right-b-128.png</key>
	<dict>
	  <key>title</key>
	  <string>icon-arrow-right-b-128.png</string>
	  <key>tag</key>
	  <string>icon,arrow,right,</string>
	</dict>
	<key>icon-arrow-right-c-128.png</key>
	<dict>
	  <key>title</key>
	  <string>icon-arrow-right-c-128.png</string>
	  <key>tag</key>
	  <string>icon,arrow,right,</string>
	</dict>
	<key>icon-ios7-arrow-down-128.png</key>
	<dict>
	  <key>title</key>
	  <string>icon-ios7-arrow-down-128.png</string>
	  <key>tag</key>
	  <string>icon,ios7,arrow,down,</string>
	</dict>
	<key>icon-ios7-arrow-forward-128.png</key>
	<dict>
	  <key>title</key>
	  <string>icon-ios7-arrow-forward-128.png</string>
	  <key>tag</key>
	  <string>icon,ios7,arrow,forward,</string>
	</dict>
	<key>icon-ios7-arrow-right-128.png</key>
	<dict>
	  <key>title</key>
	  <string>icon-ios7-arrow-right-128.png</string>
	  <key>tag</key>
	  <string>icon,ios7,arrow,right,</string>
	</dict>
	<key>icon-ios7-refresh-outline-128.png</key>
	<dict>
	  <key>title</key>
	  <string>icon-ios7-refresh-outline-128.png</string>
	  <key>tag</key>
	  <string>icon,ios7,refresh,outline,</string>
	</dict>
	<key>icon-play-128.png</key>
	<dict>
	  <key>title</key>
	  <string>icon-play-128.png</string>
	  <key>tag</key>
	  <string>icon,play,</string>
	</dict>
	<key>icon-social-twitter-outline-128.png</key>
	<dict>
	  <key>title</key>
	  <string>icon-social-twitter-outline-128.png</string>
	  <key>tag</key>
	  <string>icon,social,twitter,outline,</string>
	</dict>
	<key>info-128.png</key>
	<dict>
	  <key>title</key>
	  <string>info-128.png</string>
	  <key>tag</key>
	  <string>info,</string>
	</dict>
	<key>info-large-128.png</key>
	<dict>
	  <key>title</key>
	  <string>info-large-128.png</string>
	  <key>tag</key>
	  <string>info,large,</string>
	</dict>
	<key>info-large-outline-128.png</key>
	<dict>
	  <key>title</key>
	  <string>info-large-outline-128.png</string>
	  <key>tag</key>
	  <string>info,large,outline,</string>
	</dict>
	<key>info.png</key>
	<dict>
	  <key>title</key>
	  <string>info.png</string>
	  <key>tag</key>
	  <string>info</string>
	</dict>
	<key>info105-128.png</key>
	<dict>
	  <key>title</key>
	  <string>info105-128.png</string>
	  <key>tag</key>
	  <string>info,</string>
	</dict>
	<key>internt_web_technology-08-128.png</key>
	<dict>
	  <key>title</key>
	  <string>internt_web_technology-08-128.png</string>
	  <key>tag</key>
	  <string>internt,web,technology,</string>
	</dict>
	<key>internt_web_technology-14-128.png</key>
	<dict>
	  <key>title</key>
	  <string>internt_web_technology-14-128.png</string>
	  <key>tag</key>
	  <string>internt,web,technology,</string>
	</dict>
	<key>lens.png</key>
	<dict>
	  <key>title</key>
	  <string>lens.png</string>
	  <key>tag</key>
	  <string>lens</string>
	</dict>
	<key>live-help-128.png</key>
	<dict>
	  <key>title</key>
	  <string>live-help-128.png</string>
	  <key>tag</key>
	  <string>live,help,</string>
	</dict>
	<key>location-24-128.png</key>
	<dict>
	  <key>title</key>
	  <string>location-24-128.png</string>
	  <key>tag</key>
	  <string>location,</string>
	</dict>
	<key>mail-24-128.png</key>
	<dict>
	  <key>title</key>
	  <string>mail-24-128.png</string>
	  <key>tag</key>
	  <string>mail,</string>
	</dict>
	<key>map-.png</key>
	<dict>
	  <key>title</key>
	  <string>map-.png</string>
	  <key>tag</key>
	  <string>map,</string>
	</dict>
	<key>map-marker-128.png</key>
	<dict>
	  <key>title</key>
	  <string>map-marker-128.png</string>
	  <key>tag</key>
	  <string>map,marker,</string>
	</dict>
	<key>map.png</key>
	<dict>
	  <key>title</key>
	  <string>map.png</string>
	  <key>tag</key>
	  <string>map</string>
	</dict>
	<key>map_location_pin_map-marker-128.png</key>
	<dict>
	  <key>title</key>
	  <string>map_location_pin_map-marker-128.png</string>
	  <key>tag</key>
	  <string>map,location,pin,map,marker,</string>
	</dict>
	<key>map_location_pin_map-marker_-128.png</key>
	<dict>
	  <key>title</key>
	  <string>map_location_pin_map-marker_-128.png</string>
	  <key>tag</key>
	  <string>map,location,pin,map,marker,</string>
	</dict>
	<key>other_arrow-left_other-128.png</key>
	<dict>
	  <key>title</key>
	  <string>other_arrow-left_other-128.png</string>
	  <key>tag</key>
	  <string>other,arrow,left,other,</string>
	</dict>
	<key>photo32-128.png</key>
	<dict>
	  <key>title</key>
	  <string>photo32-128.png</string>
	  <key>tag</key>
	  <string>photo,</string>
	</dict>
	<key>pin-128.png</key>
	<dict>
	  <key>title</key>
	  <string>pin-128.png</string>
	  <key>tag</key>
	  <string>pin,</string>
	</dict>
	<key>play.png</key>
	<dict>
	  <key>title</key>
	  <string>play.png</string>
	  <key>tag</key>
	  <string>play</string>
	</dict>
	<key>player_stop.png</key>
	<dict>
	  <key>title</key>
	  <string>player_stop.png</string>
	  <key>tag</key>
	  <string>player,stop</string>
	</dict>
	<key>previous-128.png</key>
	<dict>
	  <key>title</key>
	  <string>previous-128.png</string>
	  <key>tag</key>
	  <string>previous,128</string>
	</dict>
	<key>question-balloon_basic_blue.png</key>
	<dict>
	  <key>title</key>
	  <string>question-balloon_basic_blue.png</string>
	  <key>tag</key>
	  <string>question,balloon,basic,blue</string>
	</dict>
	<key>question-balloon_basic_yellow.png</key>
	<dict>
	  <key>title</key>
	  <string>question-balloon_basic_yellow.png</string>
	  <key>tag</key>
	  <string>question,balloon,basic,yellow</string>
	</dict>
	<key>question-button_red.png</key>
	<dict>
	  <key>title</key>
	  <string>question-button_red.png</string>
	  <key>tag</key>
	  <string>question,button,red</string>
	</dict>
	<key>question_yellow.png</key>
	<dict>
	  <key>title</key>
	  <string>question_yellow.png</string>
	  <key>tag</key>
	  <string>question,yellow</string>
	</dict>
	<key>refresh-128.png</key>
	<dict>
	  <key>title</key>
	  <string>refresh-128.png</string>
	  <key>tag</key>
	  <string>refresh,</string>
	</dict>
	<key>refresh154-128.png</key>
	<dict>
	  <key>title</key>
	  <string>refresh154-128.png</string>
	  <key>tag</key>
	  <string>refresh,</string>
	</dict>
	<key>refresh27-128.png</key>
	<dict>
	  <key>title</key>
	  <string>refresh27-128.png</string>
	  <key>tag</key>
	  <string>refresh,</string>
	</dict>
	<key>social_4-128.png</key>
	<dict>
	  <key>title</key>
	  <string>social_4-128.png</string>
	  <key>tag</key>
	  <string>social,,</string>
	</dict>
	<key>stop.png</key>
	<dict>
	  <key>title</key>
	  <string>stop.png</string>
	  <key>tag</key>
	  <string>stop</string>
	</dict>
	<key>twitter3-128.png</key>
	<dict>
	  <key>title</key>
	  <string>twitter3-128.png</string>
	  <key>tag</key>
	  <string>twitter,</string>
	</dict>
	<key>twitter43-128.png</key>
	<dict>
	  <key>title</key>
	  <string>twitter43-128.png</string>
	  <key>tag</key>
	  <string>twitter,</string>
	</dict>
	<key>twitter45-128.png</key>
	<dict>
	  <key>title</key>
	  <string>twitter45-128.png</string>
	  <key>tag</key>
	  <string>twitter,</string>
	</dict>
	<key>windows_store.png</key>
	<dict>
	  <key>title</key>
	  <string>windows_store.png</string>
	  <key>tag</key>
	  <string>windows,store</string>
	</dict>
	<key>windows_store_2.png</key>
	<dict>
	  <key>title</key>
	  <string>windows_store_2.png</string>
	  <key>tag</key>
	  <string>windows,store,</string>
	</dict>
	<key>youtube18-128.png</key>
	<dict>
	  <key>title</key>
	  <string>youtube18-128.png</string>
	  <key>tag</key>
	  <string>youtube,</string>
	</dict>
	<key>youtube58-128.png</key>
	<dict>
	  <key>title</key>
	  <string>youtube58-128.png</string>
	  <key>tag</key>
	  <string>youtube,</string>
	</dict>
	<key>zoom67-128.png</key>
	<dict>
	  <key>title</key>
	  <string>zoom67-128.png</string>
	  <key>tag</key>
	  <string>zoom,</string>
	</dict>
</dict>
</plist>
