<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>isWidget</key>
        <false/>
        <key>className</key>
        <string>WPArticle</string>
        <key>navImage</key>
        <string>stack_wparticle</string>
    </dict>
    
    <dict>
        <key>isWidget</key>
        <false/>
        <key>className</key>
        <string>WPArticleTitle</string>
        <key>navImage</key>
        <string>stack_wpsitetitle</string>
    </dict>
    <dict>
        <key>isWidget</key>
        <false/>
        <key>className</key>
        <string>WPArticleDate</string>
        <key>navImage</key>
        <string>stack_wparticledate</string>
    </dict>
    <dict>
        <key>isWidget</key>
        <false/>
        <key>className</key>
        <string>WPArticleBody</string>
        <key>navImage</key>
        <string>stack_wpsitedesc</string>
    </dict>
    <dict>
        <key>isWidget</key>
        <false/>
        <key>className</key>
        <string>WPWidget</string>
        <key>navImage</key>
        <string>stack_wparticle</string>
    </dict>
    <dict>
        <key>isWidget</key>
        <false/>
        <key>className</key>
        <string>WPWidgetTitle</string>
        <key>navImage</key>
        <string>stack_wpsitetitle</string>
    </dict>
    <dict>
        <key>isWidget</key>
        <false/>
        <key>className</key>
        <string>WPWidgetBody</string>
        <key>navImage</key>
        <string>stack_wpsitedesc</string>
    </dict>
    <dict>
        <key>isWidget</key>
        <false/>
        <key>className</key>
        <string>WPPageLink</string>
        <key>navImage</key>
        <string>stack_page_nav</string>
    </dict>
    <dict>
        <key>isWidget</key>
        <true/>
        <key>className</key>
        <string>WPSiteTitle</string>
        <key>classImage</key>
        <string>wp_sitetitle</string>
        <key>navImage</key>
        <string>stack_wpsitetitle</string>
        <key>shortDesc</key>
        <string>Wordpress Site Name</string>
        <key>longDesc</key>
        <string></string>
        <key>widgetClass</key>
        <integer>3</integer>
    </dict>
    <dict>
        <key>isWidget</key>
        <true/>
        <key>className</key>
        <string>WPSiteDescription</string>
        <key>classImage</key>
        <string>wp_sitedesc</string>
        <key>navImage</key>
        <string>stack_wpsitedesc</string>
        <key>shortDesc</key>
        <string>Wordpress Site Description</string>
        <key>longDesc</key>
        <string></string>
        <key>widgetClass</key>
        <integer>3</integer>
    </dict>
    <dict>
        <key>isWidget</key>
        <true/>
        <key>className</key>
        <string>WPMenu</string>
        <key>classImage</key>
        <string>wp_menu</string>
        <key>navImage</key>
        <string>stack_wpmenu</string>
        <key>shortDesc</key>
        <string>Wordpress Content Collection</string>
        <key>longDesc</key>
        <string></string>
        <key>widgetClass</key>
        <integer>3</integer>
    </dict>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>WPArticleList</string>
		<key>classImage</key>
		<string>wp_articlelist</string>
		<key>navImage</key>
		<string>stack_wparticlelist</string>
		<key>shortDesc</key>
		<string>Wordpress Content Collection</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>isWidget</key>
		<true/>
		<key>className</key>
		<string>WPPageLinks</string>
		<key>classImage</key>
		<string>tool_page_nav</string>
		<key>navImage</key>
		<string>stack_page_nav</string>
		<key>shortDesc</key>
		<string>Wordpress Site Name</string>
		<key>longDesc</key>
		<string></string>
		<key>widgetClass</key>
		<integer>3</integer>
	</dict>
    <dict>
        <key>isWidget</key>
        <true/>
        <key>className</key>
        <string>WPSidebar</string>
        <key>classImage</key>
        <string>wp_sidebar</string>
        <key>navImage</key>
        <string>stack_wpsidebar</string>
        <key>shortDesc</key>
        <string>WPSidebar</string>
        <key>longDesc</key>
        <string></string>
        <key>widgetClass</key>
        <integer>3</integer>
    </dict>
</array>
</plist>
